/* import font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* common style  */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
span{
    color: #E76F51;

}
.btn-color{
    background-color: #E76F51; 
    color:white
}
.font-wgt{
    font-weight: 400px;
}
h1{
    font-size: 48px;
    font-weight: 600;
}
.f-size{
    font-size: 14px;
}
.star-filled{
    color: #E77C40;;
}

/* header style  */

.header-bg{
    background-color: #264653;

}
.header-img{
    width: 100%;
    height: auto;
}


/* freture bike style  */

.feature-img{
    width: 100%;
    height: auto;
}
.feature-img-gray{
    filter: grayscale(100%);
}

/* user style  */
.user-img{
    width: 149px;
    height: 149px;
}


/* Faq style  */

.faq-img{
    width: 90%;
    height: 85%;
}

/* footer style  */
footer{
    background-color: #0B0D17;;
}
ul{
    list-style: none;
}
.footer-img{
    width: 120px;
    height: 80px;
}
